@{ 
    ViewBag.Title = "DivideByZero";
}
@model System.Web.Mvc.HandleErrorInfo
    @{ 
        Layout = null;
    }

<html>
<head>
    <title>Divide By Zero</title>
</head>
<body>
    <hgroup>
        <h1>Divide By Zero Error Occured</h1>
        <h2>Controller Name :@Model.ControllerName</h2>
        <h2>Action Name : @Model.ActionName</h2>
        <h2>Exception Name :@Model.Exception</h2>
    </hgroup>
</body>
</html>

