<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomLayout</title>
</head>
<body>
   <table border="1" style="width:800px;font-family:Arial">
       <tr>
           <td colspan="2" style="text-align:center;background-color:dimgray;color:white">
               <h3>Infinite Computer Solutions</h3>
           </td>
       </tr>
       <tr>
           <td style="width:200px;background-color:gray;color:white">
               @Html.ActionLink("Employee List", "Index");
           </td>
           <td style="width:600px;">
               @RenderBody()
           </td>
       </tr>
       <tr>
           <td colspan="2" style="text-align:center;font-size:x-small;background-color:gray;color:white">
               &copy;2026 Infinite Computers ltd.
           </td>
       </tr>
   </table>
</body>
</html>
