@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>different Layout</title>
</head>
<body>
    <div>
        <h2 style="background-color:burlywood;color:blue;">Different Layout </h2>
        @RenderBody()
    </div>
</body>
</html>
