@model IEnumerable<Attribute_Routing_Prj.Models.Trainer>

@{
    ViewBag.Title = "GetTrainers";
}

<h2>Get Trainers</h2>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(mc => item.Id)
            </td>
            <td>
                @Html.DisplayFor(mc => item.Name)
            </td>
        </tr>
     }
</table>

