
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">please Enter the below details</h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-5">
                <label>Student Name</label>
                <input type="text" name="StudentName" id="StundetName" class="form-control" placeholder="Enter Student Name" required="" />
            </div>
            <div class="form-group col-md-5">
                <label>Student Address</label>
                <input type="text" name="StudentAddress" id="StundetAddress" class="form-control" placeholder="Enter Student Address" required="" />
            </div>
            <div class="form-group col-md-5">
                <div style="float:right;display:inline-block">
                    <input class="btn btn-primary" type="button" name="submitbtn" id="btnsave" value="Save" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <table id="tblStudent" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th align="left" class="productth">ID</th>
                <th align="left" class="productth">Student Name</th>
                <th align="left" class="productth">Student Address</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            LoadData();
            $("#btnsave").click(function () {
                var std = {};
                std.StudentName = $('#StudentName').val();
                std.StudentAddress = $('#StudentAddress').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateStudent")',
                    data: '{std :' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    Success: function () {
                        LoadData();
                    },
                    error: function () {
                        alert("Error While Inserting Data");
                    }
                });
            });
        });
        function LoadData() {
            $("#tblStudent tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStudent")',
                dataType: "json",
                data: { id: '' },
                success: function (data) {
                    var items = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>" + "<td class='producttd'>" + item.StudentID + "</td>"
                            + "<td class='producttd'>" + item.StudentName + "</td>"
                            + "<td class='producttd'>" + item.StudentAddress + "</td>"
                            + "</tr>";
                        $('#tblStudent tbody').append(rows);
                    });
                },
                error: function (e) {
                    var r = jQuery.parseJSON(response.responseText);
                    alter("Message :" + r.Message);
                    alter("StackTrace :" + r.StackTrace);
                    alert("ExceptionType :" + r.ExceptionType);
                }
            });
            return JSON;
        }
    </script>
    }


